@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gaegu',sans-serif;
}
.hero{
    min-height: 100vh;
    width: 100%;
    background-color: #836953;
    background-image: url(https://media.tenor.com/_GC02PhYl1oAAAAC/brown-anime.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
    color: #FFF7E4;
    padding: 0 8%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}
.logo{
    width: 160px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}
nav ul li a{
    color: #FFF7E4;
    text-decoration: none;
}
.hero h1{
    font-size: 75px;
    margin-top: 12%;
}
.hero button{
    background: #4c3228;
    border: 0;
    outline: none;
    padding: 15px 35px;
    color: #FFF7E4;
    margin-top: 25px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
}
.indicator span{
    display: inline-block;
    background: #5b3e31;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-right: 10px;
}
.indicator{
    margin-top: 100px;
}
.indicator span.active{
    background: #dca89f;
}
.cta{
    position: absolute;
    width: 25%;
    min-width: 250px;
    right: 8%;
    bottom: 30px;
}